#pagamentos {
    background: #f1f1f1;
}

.steps {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    &__item {
        margin: 1rem;
        width: calc(90% / 5 - 1rem);
        text-align: center;
        img {
            border-radius: 1rem;
            width: 40%;
        }
        span {
            color: $color-secondary;
        }
    }

}